// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-comments {

  background-color: $background-color;

  .title {
    position: absolute;
    top: 20px;
    color: $title-color;
    width: 100%;
    text-align: center;
    margin-left: -12px;
    margin-right: -12px;
  }

  .name {
    padding-left: 5px;
  }

  .comment-container {
    display: none;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
