// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-newslist styles
// ----------------------------------------------------------------------------
.widget-newslist {

  background: -moz-radial-gradient(center, ellipse cover, rgba(21,207,232,1) 0%, rgba(17,176,197,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(21,207,232,1)), color-stop(100%, rgba(17,176,197,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(21,207,232,1) 0%, rgba(17,176,197,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(21,207,232,1) 0%, rgba(17,176,197,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(21,207,232,1) 0%, rgba(17,176,197,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(21,207,232,1) 0%, rgba(17,176,197,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15CFE8', endColorstr='#11B0C5',GradientType=1 ); /* ie6-9 */
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
