// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$title-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$tick-color:        rgba(0, 0, 0, 0.4);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-wordcloud {

background: -moz-radial-gradient(center, ellipse cover, rgba(222,114,106,1) 0%, rgba(222,91,71,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(222,114,106,1)), color-stop(100%, rgba(222,91,71,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(222,114,106,1) 0%, rgba(222,91,71,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(222,114,106,1) 0%, rgba(222,91,71,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(222,114,106,1) 0%, rgba(222,91,71,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(222,114,106,1) 0%, rgba(222,91,71,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DE726A', endColorstr='#DE5B47',GradientType=1 ); /* ie6-9 */
  position: relative;


  svg {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title {
    position: absolute;
    top: 20px;
    color: $title-color;
    width: 100%;
    text-align: center;
    margin-left: -12px;
    margin-right: -12px;
  }

  .more-info {
    color: $moreinfo-color;
//    font-weight: 600;
//    font-size: 20px;
//    margin-top: 0;
  }

  .x_tick {
    position: absolute;
    bottom: 0;
    .title {
      font-size: 20px;
      color: $tick-color;
      opacity: 0.5;
      padding-bottom: 3px;
    }
  }

  .y_ticks {
    font-size: 20px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}
