/*
 *= require dashing
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$title-color: rgba(0, 0, 0, .4);


/* cor original do dashing */
body#dashing-dashboard {
  background-color: #222;
  overflow-y: hidden;
  overflow-x: hidden;
}

.causabrasil {
  .more-info, .title {
    z-index: 2;
    padding: 10px;
    //background-color: rgba(255,255,255,0.6);
  }
  .title {
    margin-top: -10px !important;
  }
  .more-info {
    bottom: 0;
  }
/*  text[Attributes Style] {
    fill: rgb(255, 255, 255) !important;
  }*/
}

.tooltip {
  opacity: .9;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.32);
  color: #666666;
}

.more-info {
  color: $title-color;
  font-family: "Oswald", "sans-serif";
}

.painel-social {
  width: auto !important;
}

/* legend */
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.painel-social .editable .btn-editar-painel {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 100;
}

#container {
  padding: 5px;
  /*.gridster li{width:34%;}*/
  .widget {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    h1 {
      font-size: 1.8em;
      margin-top: 4px;
      color: $title-color;
      font-family: 'Oswald', sans-serif;
    }
    .btn-editar-painel {
      font-size: 40px;
      /*background-image: asset-url("edit-icon.png", image);*/
      opacity: 0.2;
      color: white;
      background-size: cover;
      &.hover {
        opacity: 1;
      }
    }
  }

  .widget-newslist {
    /** Fellype que mandou eu fazer isso */
    h1 {
      position: absolute;
      top: 20px;
    }
    ul {
      margin-top: 80px;
    }
    /* /Fim do trecho que o Fellype me mandou fazer */

    .title {
    }
    .label {
      font-size: 100%;
      font-weight: normal;
      white-space: normal;
    }
    &.noticiasagenciacamara ol {
      margin-top: 40px;
    }
    li {
      position: relative;
      padding-right: 46px;
    }
    .value {
      position: absolute;
      top: .2em;
      right: 0;
      font-size: .8em;
    }
  }
}
