/*
 *= require dashing
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* cor original do dashing */
body#dashing-dashboard {
  background-color: #222
  overflow-y: hidden;
  overflow-x: hidden;
}

.causabrasil {
  .more-info, .title {
    z-index: 2;
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
  }
  .title {
    margin-top: -10px !important;
  }
  .more-info {
    bottom: 0;
  }
/*  text[Attributes Style] {
    fill: rgb(255, 255, 255) !important;
  }*/
}

.tooltip {
  opacity: .9;
}

.painel-social {
  width: auto !important;
}

/* legend */
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.painel-social .editable .btn-editar-painel {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 100;
}

#container {
  padding: 5px;
  /*.gridster li{width:34%;}*/
  .widget {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: white;
    h1 {
      font-size: 30px;
      margin-top: 4px;
    }
    .btn-editar-painel {
      font-size: 40px;
      /*background-image: asset-url("edit-icon.png", image);*/
      opacity: 0.2;
      color: white;
      background-size: cover;
      &.hover {
        opacity: 1;
      }
    }
  }
  .icon-background {
    margin-top: 82px;
    color: white;
  }
  .widget-list {
    .title {
      color: white;
    }
    .label {
      font-size: 100%;
      font-weight: normal;
      white-space: normal;
    }
    &.noticiasagenciacamara ol {
      margin-top: 40px;
    }
    li {
      position: relative;
      padding-right: 46px;
    }
    .value {
      position: absolute;
      top: .2em;
      right: 0;
      font-size: .8em;
    }
  }
}
