<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<% content_for :title do %>Sandbox do Termômetro Social<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="pls" data-view="Bubbles"  data-title="Proposições mais visualizadas nos últimos 7 dias"></div>
    </li>
  </ul>
</div>
